{% extends "myapp\index.html" %}
     {% block refresh %}
    {% endblock %}
{% block content %}

<div class="container">
    <div class="row top-buffer">

    </div>
</div>
<div class="container">
    <div class="row top-buffer">
        <div class="col-lg-5">
                    <div class="d-grid gap-2 d-md-flex">

            </div>
            <br>

            <form method="post" onsubmit="return confirm('Вы уверены?')">
                {% csrf_token %}
                {{form.as_p}}
                {% for f in forms%}
                <div class="form-error"> {{f.errors}}</div>
                {%endfor%}


                <button class="btn btn-success" type="submit">Создать ВМ</button>
                 <a class="btn btn-dark" href="{%url 'index' %}" role="button">Отмена </a>
            </form>

        </div>
        </div>
    </div>
</div>
{% endblock %}


