{% extends "myapp\index.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
 <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-dark" href="{%url 'index' %}" role="button">вернуться </a>
            </div>

            <form method="post" onsubmit="return confirm('Вы уверены?')">
                {% csrf_token %}
                {{form.as_p}}
                {% for f in forms%}
                <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>>{{f}}</p>
                <div class="form-error"> {{f.errors}}</div>
                {%endfor%}


                <button class="btn btn-success" type="submit">Создать ВМ</button>

            </form>

            <br>
        </div>
    </div>
</div>
{% endblock %}


