{% extends "myapp\index.html" %}
{% load tags %}
{% block refresh %}
{% endblock %}
{% block content %}




<!-- Tabs navs -->
<div class="container">

</div>
<div class="row mt-3">

    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link active"
                    id="ex1-tab-1"
                    data-mdb-toggle="tab"
                    href="#ex1-tabs-1"
                    role="tab"
                    aria-controls="ex1-tabs-1"
                    aria-selected="true"
            >Общая информация</a
            >
        </li>
         <li class="nav-item" role="presentation">
            <a
                    class="nav-link"
                    id="ex1-tab-2"
                    data-mdb-toggle="tab"
                    href="#ex1-tabs-2"
                    role="tab"
                    aria-controls="ex1-tabs-2"
                    aria-selected="false"
            >Управление ВМ</a>
        </li>
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link"
                    id="ex1-tab-3"
                    data-mdb-toggle="tab"
                    href="#ex1-tabs-3"
                    role="tab"
                    aria-controls="ex1-tabs-3"
                    aria-selected="false"
            >Мониторинг</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
                    class="nav-link"
                    id="ex1-tab-4"
                    data-mdb-toggle="tab"
                    href="#ex1-tabs-4"
                    role="tab"
                    aria-controls="ex1-tabs-4"
                    aria-selected="false"
            >Диски</a
            >
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
        <div
                class="tab-pane fade show active"
                id="ex1-tabs-1"
                role="tabpanel"
                aria-labelledby="ex1-tab-1"
        >
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Параметры виртуальной машины</th>
                    <th scope="col">Значение</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">DNS имя виртуальной машины</th>
                    <td>{{vm.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Виртуальные CPU, шт</th>
                    <td>{{vm.maxcpu}}</td>
                </tr>
                <tr>
                    <th scope="row">Объем оперативной памяти, МБ</th>
                    <td>{{vm.maxmem|convert_size}}</td>
                </tr>
                <tr>
                    <th scope="row">Объем дисковой памяти, Гб</th>
                    <td>{{vm.maxdisk|convert_size}}</td>
                </tr>


                </tbody>
            </table>


        </div>

           <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">

            <div class="row "> Управление</div>

            <div class="mt-2">
            <a class="btn btn-info btn-lg" href="{% url 'start_vm' uuid %}">Включить ВМ</a>

                <a class="btn btn-danger btn-lg" href="{% url 'stop_vm' uuid %}">Остановить ВМ</a>

                 <a class="btn btn-danger btn-lg" href="{% url 'console_vm' uuid %}">Открыть консоль</a>

            <a class="btn btn-danger btn-lg" href="{% url 'delete_vm' uuid %}">Удалить ВМ</a>

            </div>


        </div>


        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">

            <div class="row "> Данные о нагрузке</div>
            {% for image in images %}
            <div class="mt-2">
                <img src="{{MEDIA_URL}}{{vm.uuid}}/{{image}}"></div>

            {% endfor %}

        </div>
        <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
            Подключенный CDROM - {% if cdrom == "none" %} диск не подключен {% endif %}
            {% if cdrom != "none" %} {{cdrom}} {% endif %}


            <form action="" method="POST" target="_self">
                {% csrf_token %}
                {%if cdrom != "none"%}
                <input class="btn btn-success mr-2 mb-2" type="submit" name="disablecdrom" value="Отключить"/>
                <input type="hidden" name="Numd" value="{{value.uuid}}"/>{% endif %}
            </form>

            {% if cdrom == "none" %}
                        <form action="" method="post">
                        {% csrf_token %}
                         {{formISO.as_p}}
                        {% for f in forms%}
                        <div class="form-error"> {{f.errors}}</div>
                        {%endfor%}
                        <button class="btn btn-success" type="submit">Создать ВМ</button></form>
            {% endif %}
        </div>
    </div>
    <!-- Tabs content -->


    {% endblock %}
